<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title><%- PrismicDOM.RichText.asText(blogPost.data.blog_title_long)%> | <%= global.tag_line%></title>
    <link rel="canonical" href="TODO"/>
    <meta name="description" content="<%= blogPost.data.blog_title_short %>">
    <meta name="author" content="">
    <meta property="og:site_name" content="TODO"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="TODO"/>
    <meta property="og:description" content="TODO"/>
    <meta property="og:locale" content="en_CA"/>
    <meta name="twitter:title" content="TODO"/>
    <meta name="twitter:description" content="TODO"/>
    <meta property="og:url" content="TODO"/>
    <meta property="og:image" content="TODO"/>
    <meta name="twitter:site" content="TODO @Apple"/>
    <meta name="twitter:image" content="TODO"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Roboto:700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <div id="page-wrapper">
      <header class="page-header">
          <% 
            const isGuestAuthor = blogPost.data.author_name;
          %>
          <a class="page-header-link" href="/">Home</a>
          <div class="page-header-content">
            
            <% if (isGuestAuthor && blogPost.data.author_profile_picture.url) { %>
              <img src="<%= blogPost.data.author_profile_picture.url%>" alt="<%= blogPost.data.author_profile_picture.alt %>" width="85" height="85" />
            <% } else if (!isGuestAuthor && global.profile_pic.url){ %>
              <img src="<%= global.profile_pic.url%>" alt="<%= global.profile_pic.alt %>" width="85" height="85" />
            <% } %>
            
            <p class="font-green tag-line">Live <span class="font-brown">Life</span> <span class="font-yellow">Honestly</span></p>
            
            <% if (isGuestAuthor || !isGuestAuthor && global.name) { %>
              <h2 class="author">
                <%= blogPost.data.author_name || global.name %>
                <% if (isGuestAuthor && blogPost.data.author_title || !isGuestAuthor && global.job_title) { %>
                  <br /> <span class="font-brown"><%= blogPost.data.author_title || global.job_title %></span>
                <% } %>
              </h2>
            <% } %>
          </div>
        </header>
        <main role="main">
            <section class="bg-white">
                <h1><%= PrismicDOM.RichText.asText(blogPost.data.blog_title_long) %></h1>

                <div>
                  <% blogPost.data.body.forEach(function(slice){ %>
                    <% if (slice.slice_type == "text") { %>
                      <%- PrismicDOM.RichText.asHtml(slice.primary.text) %>
                    <% } %> 
                    
                    <% if (slice.slice_type == "list") { %>
                      <%- PrismicDOM.RichText.asHtml(slice.primary.list) %>
                    <% } %>
          
                    <% if (slice.slice_type == "heading") { %>
                      <%- PrismicDOM.RichText.asHtml(slice.primary.heading) %>
                    <% } %>
          
                    <% if (slice.slice_type == "image") { %>
                      <img 
                        alt="<%- slice.primary.image.alt %>" 
                        height="<%- slice.primary.image.dimensions.height %>" 
                        src="<%- slice.primary.image.url %>" 
                        width="<%- slice.primary.image.dimensions.width %>" />
                    <% } %>
          
                    <% if (slice.slice_type == "quote") { %>
                      <blockquote class="pull-quote">
                          <%- PrismicDOM.RichText.asText(slice.primary.quote) %>
                        <cite>- <%- PrismicDOM.RichText.asText(slice.primary.name_of_the_author) %></cite>
                      </blockquote>
                    <% } %>
                  <% }) %>
                </div>
          
                <h3><%- PrismicDOM.RichText.asText(global.blog_feed_title) %></h3>
                <ul>
                  <% 
                  const getStringMonth = month => { 
                    const monthLabel = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                    return monthLabel[month]; 
                  }; 
                  
                  const getStringDay = day => {
                    return (day + (day > 0 ?
                    ['th', 'st', 'nd', 'rd'][(day > 3 && day < 21) || day % 10 > 3 ? 0 : 
                    day % 10] : ''))
                  }; %> 
                  
                  <%
                    blogPosts.forEach(post => { 
                      const date = PrismicDOM.Date(post.data.post_date); 
                      const wordCount = post.data.body.reduce((accumulator, currentValue) => {
                        const content = PrismicDOM.RichText.asText(currentValue.primary[currentValue.slice_type]);
                        return accumulator + content.split(" ").length;
                      }, 0);
          
                      // Read time based off average 200 words per minute
                      const readTime = Math.ceil(wordCount / 200); 
          
                      if(blogPost.uid === post.uid){
                        return
                      }
                  %>
                  <li>
                    <a href="<%= post.uid %>">
                      <h3><%= post.data.blog_title_short %></h3>
                    </a>
                    <p>
                      <%= getStringMonth(date.getMonth()); %> <%=
                      getStringDay(date.getDate()); %>, <%= date.getFullYear(); %> | ~<%=
                      readTime %> min read
                    </p>
                  </li>
                  <% }); %>
                </ul>
          
                <h3><%- PrismicDOM.RichText.asText(global.contact_title) %></h3>
                <ul class="connect">
                  <% global.social_media_accounts.forEach(function(account){ %>
                    <li>
                      <a href="<%= account.url %>" target="_blank">
                        <img src="<%= account.social_icon.url %>" with="85" height="85" alt="<%= account.social_icon.alt %>" />
                      </a>
                    </li>
                  <% }); %>
                </ul>
              </div>
            </section>
        </main>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Blog",
        "mainEntityOfPage": "https://www.site.com/articleurl/",
        "headline": "<%= PrismicDOM.RichText.asText(blogPost.data.blog_title_long)%>",
        "datePublished": "<%= blogPost.data.post_date || blogPost.first_publication_date %>,",
        "dateModified": "<%= blogPost.last_publication_date %>,",
        "author": {
          <% if (isGuestAuthor) { %>
            "name": "<%= blogPost.data.author_name %>",
            "jobTitle": "<%= blogPost.data.author_title %>"
          <% } else { %>
            "@id":"https://www.site.com/"
          <% } %>
        },
        <% if (isGuestAuthor) { %>
        "publisher": { "@id":"https://www.site.com/" },
        <% } %>
        "description": ""
      }
    </script>
  </body>
</html>
