<!DOCTYPE html>
<html lang="en_CA">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title><%= global.name %> - <%= global.job_title %> | <%= global.tag_line %></title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Roboto:700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="<%= rootPath %>public/styles/global.css" />
  </head>

  <body>
    <div id="page-wrapper">
        <header class="page-header horizontal">
          <% if (global.profile_pic.url){ %>
            <img class="profile-picture" src="<%= global.profile_pic.url%>" alt="<%= global.profile_pic.alt %>" width="85" height="85" />
          <% } %>
          <div class="page-header-content">
            <h1 class="font-green tag-line">Live <span class="font-brown">Life</span> <span class="font-yellow">Honestly</span></h1>
            
            <% if (global.name) { %>
              <h2 class="author">
                <%= global.name %>
                <% if (global.job_title) { %>
                  <br /> <span class="font-brown"><%= global.job_title %></span>
                <% } %>
              </h2>
            <% } %>
            <p class="page-header-about cp-trim-paragraph"><%= global.about %></p>
            <h2 class="a11y"><%- PrismicDOM.RichText.asText(global.contact_title) %></h2>
            <ul class="connect">
            <% global.social_media_accounts.forEach(function(account){ %>
              <li>
                <a href="<%= account.url %>" target="_blank">
                  <img src="<%= account.social_icon.url %>" with="85" height="85" alt="<%= account.social_icon.alt %>" />
                </a>
              </li>
            <% }); %>
          </ul>
          </div>
        </header>

        <main role="main">
          <section class="bg-white">
              <h2><%= PrismicDOM.RichText.asText(global.blog_feed_title) %></h2>
              <div class="cp-carousel full-width-small">
                <div class="cp-carousel-wrapper">
                  <ul class="cp-carousel-slider">                        
                      <%
                        blogPosts.forEach(post => { 
                      %>
                    <li class="cp-carousel-slider-slide">
                      <article>
                        <a href="blog/<%= post.uid %>">
                          <h3><%= post.data.blog_title_short %></h3>
                          <p><%= post.data.blurb %></p>
                        </a>
                        <p class="time-stamp">
                          <%= utils.prettyDate(post.data.post_date) %> | ~<%= utils.readTime(post.data.body) %> min read
                        </p>
                      </article>
                    </li>
                    <% }); %>
                  </ul>
                </div>

                <button aria-label="Previous Article" class="cp-carousel-prev">Previous Article</button>
                <button aria-label="Next Article" class="cp-carousel-next">Next Article</button>
                <div aria-live="polite" class="a11y"></div>
              </div>
          </section>
        </main>
      </div>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@id": "https://www.site.com/",
        "@type": "Person",
        "name": "<%= global.name %>",
        "jobTitle": "<%= global.job_title %>",
        "url": "https://www.site.com/",
        "image": "<%= global.profile_pic.url %>",
        "sameAs": [<% global.social_media_accounts.forEach(function(account){ %>
            "<%= account.url %>",<% }); %>
        ]
      }
    </script>
    <script src="<%= rootPath %>public/scripts/global.js"></script>
  </body>
</html>
